.bg-nav-custom {
    background: #1DA1F2;
}

.input-border {
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    padding: 0;
}

.date-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

::ng-deep {
    .form-styling {

        form {
            svg {
                width: 100%;
            }

            div{
                mat-icon{
                    color: #1DA1F2;
                    margin-right: 12px;
                    margin-top: -1%;
                }
            }
        }

        overflow: hidden;

        mat-form-field {
            display: block;
            // border: 1px solid #E5E5E5;
            border-radius: 4px;

            .mat-form-field-wrapper {
                padding: 0.11em;

                .mat-form-field-underline {
                    height: 0px !important;

                    span {
                        display: none;
                    }

                    label {
                        display: none;
                    }
                }

                .mat-form-field-flex {
                    .mat-form-field-infix {
                        input{
                            margin-top: -1%;
                        }
                        mat-select{
                            margin-top: -6px;
                        }
                    }
                }
            }
        }

        mat-form-field.mat-focused {
            .mat-form-field-infix {
                label {
                    color: transparent;
                }
            }
        }

        .cancel-btn {
            background-color: #EDF8FF;
            color: #1DA1F2 !important;
            box-shadow: none;
        }

        .save-btn {
            background-color: #1DA1F2;
            box-shadow: none;
        }
    }

    .cdk-overlay-container {
        .cdk-overlay-connected-position-bounding-box {
            .cdk-overlay-pane {
                transform: none !important;

                .mat-select-panel-wrap {
                    width: 100% !important;

                    .mat-select-panel {
                        min-width: 100% !important;
                    }
                }
            }
        }
    }
}

@media(max-width:576px) {
    ::ng-deep {
        .cdk-overlay-container {
            .cdk-overlay-connected-position-bounding-box {
                .cdk-overlay-pane {
                    min-width: 100% !important;
                    bottom: 0 !important;
                    left: 0px !important;
                    box-shadow: none !important;
                    transform: none !important;
                    top: auto !important;

                    .mat-select-panel-wrap {
                        width: 100% !important;

                        .mat-select-panel {
                            min-width: 100% !important;
                        }
                    }
                }
            }
        }

        .form-styling{

            form{
                div{
                    mat-icon{
                        color: #1DA1F2;
                        margin-right: 12px;
                        margin-top: -2%;
                    }
                }
            }

            .mat-form-field-flex {
                .mat-form-field-infix {
                    input{
                        margin-top: -2%;
                    }
                    mat-select{
                        margin-top: -1% !important;
                    }
                }
            }
        }
    }

   

    .button-position {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}